html, body {
    height:100%
}
body {
    height: 100%;
    background-image: url(img/back2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 14px;
    font-weight: normal;
    font-family: "-apple-system", BlinkMacSystemFont, Arial, sans-serif;
    margin: 0
}
img {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    width: 150px;
}
img:hover {
    transform: scaleX(-1);
}
.form {
    padding-top: 10px;
}
.form_page {
    margin: auto
}
.form_page_thin {
    margin-top: 100px;
    max-width: 500px
}
.box {
    background: #fff;
    padding: 30px;
    margin-top: 20px
}
.box_title {
    color: #333;
    font-size: 22px;
    line-height: 20px;
}
.form_fields {
    border: 0;
    padding: 0
}
.form_field {
    margin-top: 10px;
}
.field-label {
    color: #333;
    font-size: 14px;
    margin-bottom: 5px;
    display: inline-block;
}
.field-input {
    width: 100%;
    height: 40px;
    background: #FFF;
    border: 1px solid #DBDBDB;
    padding: 14px;
    box-sizing: border-box;
    font-size: 14px;
    color: #333
}
.button {
    padding: 16px;
    border: 0;
    color: white;
    font-size: 15px;
    width: 100%;
    height: 48px;
    background-color: black
}
.form_button {
    margin-top: 28px
}
.box_link {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    background: #fff;
}
.form-message {
    line-height: 18px;
    color: #333;
    font-size: 14px;
}
.form-link {
    line-height: 16px;
    color: #558cb7;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}
